*.vimbackup
vim.symlink/files/.netrwhist
vim.symlink/files/info/viminfo
vim.symlink/files/backup/**
!vim.symlink/files/backup/.keep
vim.symlink/files/swap/**
!vim.symlink/files/swap/.keep
vim.symlink/files/undo/**
!vim.symlink/files/undo/.keep
vim.symlink/plugged/
vim.symlink/local/

*.nvimbackup
nvim/files/.netrwhist
nvim/files/info/**
!nvim/files/info/.keep
nvim/files/backup/**
!nvim/files/backup/.keep
nvim/files/swap/**
!nvim/files/swap/.keep
nvim/files/undo/**
!nvim/files/undo/.keep
nvim/plugged/
nvim/local/
