# Logging

snippet i "Inspect"
IO.inspect($0)
endsnippet

# Documentation

snippet mdoc "Module documentation"
@moduledoc """
$0
"""
endsnippet

snippet doc "Function documentation"
@doc """
$0
"""
endsnippet

snippet tdoc "Type documentation"
@typedoc """
$0
"""
endsnippet

# Function definition

snippet spec "Function spec"
@spec $1($2) :: $0
endsnippet

snippet def "Define function"
def $1($2) do
	$0
end
endsnippet

snippet defp "Define function (private)"
defp $1($2) do
	$0
end
endsnippet
