# Logging

snippet i "Inspect"
IO.inspect($0)
endsnippet

# Documentation

snippet mdoc "Module documentation"
@moduledoc """
$0
"""
endsnippet

snippet doc "Function documentation"
@doc """
$0
"""
endsnippet

snippet tdoc "Type documentation"
@typedoc """
$0
"""
endsnippet
